.home {
    width: 100vw;
    padding: 0 150px;
    padding-top: 40px;
    box-sizing: border-box;

    .home-middle {
        padding-top: 20px;
        display: flex;
        flex-direction: row;
    }
}