@import '../../constants/theme.scss';

.device-type-list {
    width: fit-content;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    // border-radius: 5px;
    // background-color: aquamarine;

    .device-type-item {
        list-style: none;
        min-width: 66px;
        height: 40px;
        line-height: 40px;
        margin: 0 30px;
        text-align: center;
        font-size: 18px;
        font-weight: bold;

        .device-type {
            cursor: pointer;
        }
    }

    .device-type-item-selected {
        border-bottom: 2px solid $primaryColor;

        .device-type {
            color: $primaryColor;
        }
    }
}