@import '../../constants/theme.scss';

.device-type-list {
    width: fit-content;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .device-type-item {
        list-style: none;
        min-width: 66px;
        height: 40px;
        box-sizing: border-box;
        line-height: 40px;
        margin: 0 30px;
        text-align: center;
        font-size: 18px;
        font-weight: bold;

        .device-type {
            cursor: pointer;
        }
    }

    /* Underline From Center */
    .device-type-item-not-selected {
        display: inline-block;
        vertical-align: middle;
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        position: relative;
        overflow: hidden;
        transition: background 0.3s linear;

        &:hover {
            color: $lightPrimaryColor;
        }

        &:before {
            content: "";
            position: absolute;
            z-index: -1;
            left: 51%;
            right: 51%;
            bottom: 0;
            background: $lightPrimaryColor;
            height: 2.8px;
            transition-property: left, right;
            transition-duration: 0.3s;
            transition-timing-function: ease-out;
        }
    
        &:hover:before,
        &:focus:before,
        &:active:before {
            left: 0;
            right: 0;
        }
    
    }

    
    .device-type-item-selected {
        border-bottom: 2px solid $primaryColor;

        .device-type {
            color: $primaryColor;
        }
    }
}