@import '../../constants/theme.scss';

.card {
    width: fit-content;
    min-width: 280px;
    margin: 10px 20px;
    box-sizing: border-box;

    .card-header {
        height: 46px;
        border-bottom: 1px solid $primaryColor;
        text-align: center;
        line-height: 46px;
    }
}

.bordered-card {
    border: 1px solid $primaryColor;
}
