@import '../../constants/theme.scss';

.profile-list {
    width: 840px;

    .profile-item {
        height: 100px;
        display: flex;
        flex-direction: row;
        align-items: center;

        .item-name {
            width: 200px;
            display: inline-block;
            margin-left: 100px;
            font-weight: bold;
        }

        .simple-item-content {
            display: flex;
            align-items: center;

            .item-value {
                margin-right: 10px;
            }

            .item-icon {
                transition: opacity 0.2s linear;
                opacity: 0;
                font-size: 30px;
                color: $primaryColor;
                cursor: pointer;
            }

            .item-icon+span {
                transition: opacity 0.2s linear;
                opacity: 0;
                color: $primaryColor;
                cursor: pointer;
            }
        }

        &:hover {
            .item-icon {
                opacity: 1;
            }

            .item-icon+span {
                opacity: 1;
            }
        }
    }
}