.account {
    min-width: 860px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-avatar {
    }

    &-top-divider {
        margin-top: 20px;
    }
}