@import '../../constants/theme.scss';

.brand-list {
    width: 180px;
    height: fit-content;
    padding: 10px 20px;
    padding-left: 20px;
    box-sizing: border-box;
    border: 1px solid $primaryColor;
    border-radius: 5px;
    background-color: rgba(67, 93, 102, 0.925);
    text-align: center;

    .list-header {
        padding-top: 10px;
        padding-bottom: 5px;
        border-bottom: 1px solid $mostLightPrimaryColor;
        font-size: 18px;
        font-weight: bold;
        font-family: 宋体;
        color: white;
    }

    .list-body {
        height: 460px;
        overflow-y: scroll;

    }

    .list-body::-webkit-scrollbar {
        display: none;
    }

    .brand-list-item {
        height: 40px;
        margin: 10px 0;
        display: flex;
        align-items: center;
        position: relative;
        cursor: pointer;

        img {
            width: 32px;
            height: 32px;
            margin-left: 10px;
        }

        .brand-text {
            margin-left: 18px;
            color: white;
        }

        .right-arrow {
            position: absolute;
            right: 10px;
            font-size: 18px;
            color: gray;
        }
    }

    .brand-list-item:hover {
        background-color: $mostLightPrimaryColor;
    }

    .brand-list-item-selected {
        background-color: $mostLightPrimaryColor;
    }

    .list-footer {
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: flex-end;

        .down-arrow-icon {
            font-size: 32px;
            font-weight: bold;
            color: rgb(89, 133, 148);
        }

        @keyframes down-arrow-icon {
            16.65% {
                transform: translateY(8px);
            }

            33.3% {
                transform: translateY(-6px);
            }

            49.95% {
                transform: translateY(4px);
            }

            66.6% {
                transform: translateY(-2px);
            }

            83.25% {
                transform: translateY(1px);
            }

            100% {
                transform: translateY(0);
            }
        }

        .down-arrow-icon {
            display: inline-block;
            vertical-align: middle;
            transform: perspective(1px) translateZ(0);
            box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        }

        .down-arrow-icon:hover,
        .down-arrow-icon:focus,
        .down-arrow-icon:active {
            animation-name: down-arrow-icon;
            animation-duration: 1s;
            animation-timing-function: ease-in-out;
            animation-iteration-count: 1;
        }

    }
}