@import '../../constants/theme.scss';

.brand-list {
    width: 180px;
    height: fit-content;
    padding: 10px 20px;
    padding-left: 20px;
    box-sizing: border-box;
    border: 1px solid $primaryColor;
    border-radius: 5px;
    background-color: rgba(67, 93, 102, 0.925);
    text-align: center;

    .list-header {
        padding-top: 10px;
        padding-bottom: 5px;
        border-bottom: 1px solid rgba(173, 216, 230, 0.281);
        font-size: 18px;
        font-weight: bold;
        font-family: 宋体;
        color: white;
    }

    .list-body {
        height: 460px;
        overflow-y: scroll;

    }

    .list-body::-webkit-scrollbar {
        display: none;
    }

    .brand-list-item {
        height: 40px;
        margin: 10px 0;
        display: flex;
        align-items: center;
        position: relative;
        cursor: pointer;

        img {
            width: 32px;
            height: 32px;
            margin-left: 10px;
        }

        .brand-text {
            margin-left:18px;
            color: white;
        }

        .right-arrow {
            position: absolute;
            right: 10px;
            font-size: 18px;
            color: gray;
        }
    }

    .brand-list-item:hover {
        background-color: rgba(99, 143, 158, 0.438);
    }

    .list-footer {
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: flex-end;

        .down-arrow-icon {
            font-size: 32px;
            font-weight: bold;
            color: rgb(89, 133, 148);
        }
    }
}